h1 {
  text-align: center;
}

h2 {
  margin-left: 24px;
  width: 104px;
  border: 2px solid #333;
  padding-left: 8px;
}

.check {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  justify-self: auto;
}

.check-item {
  width: 160px;;
  margin-bottom: 10px;
}